*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}

body{
    background: linear-gradient(to right,#e2e2e2,#c9d6ff);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    position: relative;
    background: #fff;
    width: 786px;
    max-width: 100%;
    min-height: 480px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}
.container p{
    font-size:
     14px;
    letter-spacing: 0.3px;
    line-height: 20px;
    margin: 20px;
}
.container span{
    font-size: 12px;
}

.container input{
    background: #eee;
    border: none;
    padding: 10px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 8px;
    font-size: 13px;
    outline:none;
}

.container form{
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 40px;
    margin: 0;
    
}

.container button{
    background-color: #512da8;
    color: #fff;
    border: 1px solid transparent;
    padding: 10px 45px;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}

.container a{
    color: #333;
    text-decoration: none;
    font-size: 13px}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%,49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%,100%{
        opacity: 1;
        z-index:5;
    }
}

.total-icons{
    margin: 20px 0;
}

.total-icons a{
    width:40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border:1px solid #ccc;
    border-radius: 20%;
    margin: 0 3px;
}
.toggle-container{
    position: absolute;
    top:0;
    left: 50%;
    width:50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    z-index: 1000;
    border-radius: 150px 0 100px 0;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 0 100px;
}

